#__next > div > div > div.jsx-2687105798.header-wrapper > div{visibility:hidden;}

body {
    background-image: url("https://i.imgur.com/ryD2vY3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


.sidebar-list-item.jsx-1424615656 > a.is-active.jsx-1424615656 {
    background-color: rgb(130, 0, 0) !important;
}

.cellLink-link.jsx-3147125735:hover {
    color: rgb(0,0,0);
}


a.jsx-338354777.cellLink-link:hover {
    color: rgb(0,0,0);
}

.custom-dropdown-control.css-4xy4ym-control {
    background-color: rgb(130, 0, 0);
}

a.jsx-669136943.jsx-1424615656.is-active {
    background-color: rgb(130, 0, 0) !important;
}


button.jsx-1735702853.jsx-2070939811.advanced-tags-btn {
    background-color: rgb(130, 0, 0);
}

button.jsx-1735702853.jsx-3320471011.advanced-tags-btn {
    background-color: rgb(130, 0, 0);
}


.view-changer-button.jsx-1494212735 {
    background-color: #545454 !important;
}


.view-changer-button.is-active.jsx-1494212735 {
    background-color: #545454 !important;
}



.jsx-4008542521.jsx-3111695202.input-background {
    background-color: rgb(130, 0, 0);
    border-radius: 20px 0px;
}

.jsx-4008542521.jsx-1235514216.input-background {
    background: rgb(130, 0, 0);
    border-radius: 20px 0px;
}

a.jsx-669136943.jsx-551243074.is-active {
    background-color: rgb(130, 0, 0) !important;
}

button.jsx-4129604865.jsx-3871525032.dropdown-button.dropdown-button {
    background-color: rgb(130, 0, 0);
}


    button.jsx-4129604865.jsx-3871525032.dropdown-button.dropdown-button:hover {
        background-color: rgb(130, 0, 0);
    }

.jsx-3193269665.jsx-862053794.premiere-dates-wrapper {
    background-color: rgb(130, 0, 0);
}

.list-button.jsx-3871525032:hover {
    color: rgb(0,0,0);
    background-color: rgb(130, 0, 0) !important;
}